body {
    background-color: black;
    margin: 0;
}

@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);
body {
  font-family: "Noto Sans KR", sans-serif !important;
}


p {
    color: white;  
}

h3 {
    color: white;  
    font-family: Noto Sans CJK KR;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    text-align: center;
    }

h2 {
    color: white; 
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 53px;
}

.container {
    margin: 0;
    background-color: black;
}
