body{
    background-color: black;
}

p {
    color: white;
}

.Final_MBTI {
    margin: 60px auto;
}
.notScroll {
    overflow: hidden;
    position: fixed;
    height: 100%;
}
.testTitle {
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 20px;
}
.mbti {
    font-weight: 700;
    font-size: 14px;
    color: #e73e7e;
    margin-top: 20px;
    margin-bottom: 12px;
}
.charName {
    font-weight: 700;
    font-size: 18px;
    margin-bottom: 12px;
}
.mbtiSummary {
    font-weight: 400;
    font-size: 18px;
    line-height: 26.64px;
    width: 191px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 60px;
}
.mbtiIMG {
    width: 200px;
    height: 200px;
}
.mbtiInfo2_wrap {
    width: 300px;
    height: auto;
    line-height: 22.4px;
    font-size: 14px;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid #2596a5;
    margin-bottom: 40px;
    border-radius: 20px;
    background: rgba(37, 150, 165, 0.25);
}
.mbtiInfo, .mbtiInfo2 {
    text-align: left;
    padding: 20px 31.41px;
}
.mbtiInfo_summary, .mbtiInfo2_summary {
    padding-bottom: 20px;
    font-weight: 700;
    font-size: 18px;
}
.mbtiInfo_text, .mbtiInfo2_text {
    font-size: 14px;
    font-weight: 400;
    line-height: 22.4px;
    list-style: inside;
    color: white;
    user-select: none; 
    -webkit-user-select: none;

}
.mbtiInfo_text li, .mbtiInfo2_text li{
    text-indent: -20px;
    padding-left: 20px;
    margin-bottom: 12px;
    line-height: 22.4px;
}
.mbtiInfo_text li span, .mbtiInfo2_text li span {
    position: relative;
    left: -7.17px
}
.mbtiInfo_wrap {
    width: 300px;
    height: auto;
    line-height: 22.4px;
    font-size: 14px;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid #e73e7e;
    margin-bottom: 20px;
    border-radius: 20px;
    background: rgba(231, 62, 126, 0.25);
}
.typeMatch {
    width: 300px;
    margin-left: auto;
    margin-right: auto;
}
.title {
    width: 86px;
    font-weight: 700;
    font-size: 18px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;
    margin-top: 60px;
}
.typeTitle {
    width: 39px;
    font-weight: 700;
    font-size: 14px;
    color: #e73e7e;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 8px;
}
.typeCharName {
    font-weight: 700;
    font-size: 14px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 8px;
}
.typeCharInfo {
    width: 127px;
    line-height: 14.8px;
    font-weight: 400;
    font-size: 12px;
    color: #cccccc;
    margin-left: auto;
    margin-right: auto;
}
.GoodBad {
    display: flex;
    justify-content: space-evenly;
}
.share_box {
    width: 66px;
    font-weight: 700;
    font-size: 18px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    margin-top: 80px;
}
.share_btn {
    width: 196px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-between;
    margin-bottom: 60px;
}
.footerBTN {
    display: flex;
    flex-direction: column;
    width: 234px;
    margin-left: auto;
    margin-right: auto;
    font-weight: 500;
    font-size: 14px;
}
.allResultBTN {
    height: 45px;
    background-color: #555555;
    border-radius: 60px;
    color: white;
    margin-bottom: 12px;
    position: relative;
}
.allResultBTN svg, .testRestart svg {
    margin-left: 12px;
}
.testRestart {
    height: 45px;
    background-color: #e73e7e;
    border-radius: 60px;
    color: white;
    position: relative;

}
.returnResult {
    margin-top: 72px;
    font-size: 14px;
    font-weight: 500;
    line-height: 21px;
    color: white;
    position: relative;
}
.returnResult::after {
    content: '';
    background-image: url("../../public/image/returnArrow.svg");
    width: 9.93px;
    height: 13px;
    bottom: 5px;
    right: -20px;
    position: absolute;
}